.app-upgrade-modal-container {
    .ant-modal-content {
        .ant-modal-header {
            border-bottom: none;
        }

        .ant-modal-footer {
            border-top: none;
            padding: 0;
        }
    }
}

.app-upgrade-modal-title {
    color: #444e60;
}

.app-upgrade-modal-font {
    color: #7a7b7c;
}
.app-upgrade-modal-progress {
    height: 5px;
    border-radius: 3px;
    background: #dbe1ea;
}

.app-upgrade-active-progress {
    position: relative;
    height: 5px;
    top: -5px;
    border-radius: 3px;
    background: #3381ff;
}

.app-upgrade-modal-btn {
    text-align: right;
    margin-top: 30px;
}
