.general-setting-container {
    min-width: 360px;
    > span {
        color: #7a7b7c;
    }
}

.general-setting-user-profile {
    > span {
        display: block;
        padding-bottom: 4px;
    }
    > label {
        padding-right: 16px;
        color: var(--text);
    }
    .ant-input {
        width: 320px;
        margin-bottom: 12px;
    }
    .ant-input,
    .ant-btn {
        margin-right: 8px;
    }
}

.general-setting-checkbox {
    margin-bottom: 8px;
}

.general-setting-select-language {
    > span {
        display: block;
        padding-bottom: 3px;
    }
    .ant-radio-group {
        margin-left: 0;

        label {
            margin-right: 72px;
        }
    }
}

.general-setting-appearance-picker-container {
    > span {
        display: block;
        padding-top: 8px;
        padding-bottom: 3px;
    }
}

.flat-color-scheme-dark {
    .general-setting-container {
        color: var(--text-stronger);
    }

    .radio-item-inner,
    .checkbox-item-inner {
        color: var(--text);
    }
}
