.login-with-email {
    padding-top: 64px;
    padding-bottom: 32px;

    .ant-input-affix-wrapper {
        padding-left: 4px;
        margin-bottom: 16px;
    }

    .ant-input-password-icon.anticon {
        color: inherit;
    }
}

.login-with-email-forgot-password {
    padding-top: 184px;
}

.login-with-email-login-btn,
.login-with-email-next-btn {
    margin-bottom: 8px;
}

.login-with-email-password-btn-wrapper {
    position: relative;
}

.login-with-email-forgot-password-btn {
    position: absolute;
    top: 1px;
    right: 32px;
    padding: 4px 8px;
    z-index: 1;
}

.login-with-email-send-code-btn {
    padding: 0 4px;
}
