.login-agreement {
    color: var(--text);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;

    .ant-checkbox + span {
        user-select: none;
        -webkit-user-select: none;
    }

    a {
        white-space: nowrap;
    }
}
