.device-check-layout-container {
    height: 100%;
    padding: 24px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 15%);
}

.flat-color-scheme-dark {
    .device-check-layout-container {
        background-color: var(--grey-10);
        box-shadow: 0px 1px 1px rgb(15 18 25 / 15%);
    }
}
