.login-account.ant-input-affix-wrapper {
    padding-left: 4px;

    .ant-input-prefix {
        height: 24px;
    }
}

.login-account .ant-input-affix-wrapper {
    padding-left: 4px;

    .ant-input-prefix {
        height: 24px;
    }
}

.login-account .ant-select .ant-select-selector {
    border: none !important;
}

.login-account .ant-input-group-addon {
    width: 32px;
    position: absolute;
    right: 2px;
    top: 50%;
    height: 94%;
    transform: translateY(-50%);
    z-index: 1;
    border: none !important;
    background-color: inherit;

    .ant-select .ant-select-selector {
        margin-top: -12px;
    }

    .ant-select-selection-item,
    .ant-select-selection-placeholder {
        display: none;
    }

    .ant-select-item-option-content {
        text-align: start;
    }

    .ant-select-arrow {
        right: 6px;
    }

    .ant-select-dropdown {
        width: 305px !important;
    }

}

.flat-color-scheme-dark .ant-form .ant-form-item-has-error :not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.flat-color-scheme-dark .ant-form .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    background-color: inherit;
}