.avatar-shortcuts-wrapper {
    position: absolute;
    padding: 8px;
    opacity: 0;
    z-index: 100;
    transform: translate(-50%, -12%);
    transition: opacity 0.1s;
}

.avatar-shortcuts-wrapper.SmallClass {
    transform: translate(-50%, -80%);
}

.avatar-shortcuts-wrapper.active,
.avatar-shortcuts-wrapper:hover {
    opacity: 100;
}

.avatar-shortcuts {
    border: 1px solid var(--grey-3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #fff;
    display: flex;
    gap: 16px;
}

.avatar-shortcuts-btn {
    width: 24px;
    height: 24px;
    border: 0;
    padding: 0;
    outline: none;
    background: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        .flat-icon-stroke-color {
            stroke: var(--primary);
        }

        .flat-icon-fill-color {
            fill: var(--primary);
        }
    }

    svg {
        pointer-events: none;
    }
}

.avatar-shortcuts-reward-canvas {
    width: 144px;
    height: 108px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -80% - 16px);
    z-index: 5;
}

.avatar-shortcuts-wrapper.top-right {
    padding: 0;
    transform: none;
}

.avatar-shortcuts.top-right {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    border: none;
    gap: 4px;

    .avatar-shortcuts-btn {
        width: 32px;
        height: 32px;
        padding: 4px;
        border-radius: 50%;
        background-color: var(--grey-9);
        color: rgba(255, 255, 255, 0.35);
        transition: background-color 0.1s;

        &:hover {
            background-color: var(--grey-8);
        }
    }
}

.flat-color-scheme-dark {
    .avatar-shortcuts {
        border-color: var(--grey-8);
        background-color: var(--grey-9);
    }

    .avatar-shortcuts.top-right {
        background-color: transparent;
    }
}
