.speaker-check-container {
    min-width: 360px;

    p {
        margin-bottom: 8px;
        color: var(--text-strong);
    }

    .ant-select {
        min-width: 360px;
        height: 36px;
        margin-bottom: 24px;
    }
}

.speaker-check-inner {
    .ant-btn {
        min-width: 360px;
        height: 36px;
        text-align: start;

        > svg, > span {
            vertical-align: middle;
        }
    }

    > p {
        color: var(--text-strong);
    }
}

.speaker-audio-check-container {
    min-width: 360px;
    margin-top: 16px;
}

.speaker-audio-check-inner {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    .ant-slider {
        width: 306px;

        .ant-slider-track {
            background-color: #3381ff;
        }

        .ant-slider-handle {
            border-color: #3381ff;
        }
    }
}

.speaker-btn-container {
    .ant-btn {
        margin-right: 8px;
    }
}

.flat-color-scheme-dark {
    .speaker-audio-check-inner {
        .ant-slider-rail {
            background-color: var(--grey-9);
        }
    }
}
