.big-class-realtime-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #edeff2;
}

.big-class-realtime-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.big-class-realtime-content-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.big-class-realtime-content {
    flex: 1;
    display: flex;
}

.big-class-realtime-rtc-box {
    position: relative;
    overflow: hidden;
    width: 288px;
    height: 216px;
    display: flex;
}

.flat-color-scheme-dark {
    .big-class-realtime-container,
    .big-class-realtime-box {
        color: var(--text);
        background-color: var(--grey-10);
        border: 1px solid var(--grey-8);
    }
}
