.file-preview-audio-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

    audio {
        &:focus {
            outline: none;
        }
    }
}
