.system-check-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 360px;
    margin-bottom: 36px;

    .system-check-item {
        margin-bottom: 16px;

        .system-check-item-name {
            margin-right: 24px;
            color: var(--text-strong);
        }

        > span {
            color: var(--text);
        }
    }
}
