.chat-user {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    width: 100%;
    overflow: hidden;
    padding: 12px 0;
    color: var(--text);
    font-size: 14px;
    word-break: keep-all;
    white-space: nowrap;
    user-select: none;
    border-bottom: 1px solid var(--grey-1);
}

.chat-user-avatar {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.chat-user-name {
    overflow: hidden;
    display: inline-block;
    // max-width: 50%;
    text-overflow: ellipsis;
}

.chat-user-status {
    flex-shrink: 0;

    &.is-teacher {
        color: var(--text-weak);
    }

    &.is-speaking {
        color: var(--success);
    }

    &.is-hand-raising {
        color: var(--primary);
    }

    &.has-left {
        color: var(--danger);
    }
}

.chat-user-ctl-btn {
    flex-shrink: 0;
    margin: 0 0 0 auto;
    padding: 0 16px;
    border-radius: 4px;
    height: 24px;
    outline: none;
    background: transparent;
    cursor: pointer;

    &.is-speaking {
        color: var(--danger);
        border: 1px solid var(--danger);
    }


    &.is-hand-raising {
        color: var(--grey-0);
        background: var(--primary);
        border: 1px solid var(--blue-7);
    }
}

.flat-color-scheme-dark {
    .chat-user {
        border-bottom-color: var(--grey-8);
    }
}
