.chat-messages-default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    color: var(--text-weaker);
    user-select: none;
    pointer-events: none;

    img {
        width: 100px;
        height: 100px;
    }
}

.flat-color-scheme-dark {
    .chat-messages-default img {
        filter: invert(0.875) hue-rotate(180deg);
    }
}

.chat-messages-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    position: relative;
}

.chat-messages-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 6px 0;
}
