.join-room-box-container {
    >.ant-modal {
        >.ant-modal-content {
            >.ant-modal-header {
                border-bottom: none;
                padding: 16px;
            }

            >.ant-modal-body {
                padding: 0 16px;
            }

            >.ant-modal-footer {
                border-top: none;
            }
        }
    }

    .ant-input-suffix {
        margin-right: -8px;

        >.ant-btn {
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent !important;
        }
    }
}

.join-room-box-dropdown {
    width: 100%;
    top: 36px !important;
    left: 0 !important;
}

.join-room-box-dropdown-menu {
    width: 100%;
    overflow: hidden;

    .ant-dropdown-menu-item {
        width: 100%;
        overflow: hidden;
    }

    .ant-dropdown-menu-title-content {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;

        .room-title {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 8px;
        }

        .invite-code {
            color: var(--grey-3);
        }
    }
}

.flat-color-scheme-dark {
    .join-room-box-dropdown-menu {
        .ant-dropdown-menu-title-content {
            .invite-code {
                color: var(--grey-6);
            }
        }
    }
}
