.main-room-menu-container {
    font-size: 14px;
    margin-bottom: 16px;
}

.main-room-menu-form {
    .ant-form-item-required::before {
        display: none !important;
    }

    .ant-checkbox + span {
        font-size: 12px;
        color: var(--text);
    }

    .ant-form-item {
        margin-bottom: 0;
        margin-top: 13px;
    }
}

.modal-inner-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--text);
    line-height: 21px;
    margin-bottom: 8px;
}

.modal-inner-input {
    margin-bottom: 24px;
}

.modal-inner-check {
    margin-bottom: 8px;
}

.modal-inner-text {
    font-size: 12px;
    font-weight: 400;
    color: #7a7b7c;
    line-height: 18px;
}

.modal-dropdown-icon {
    margin-right: -8px;
    cursor: pointer;
}

.modal-menu-item {
    margin-top: 12px;
    width: 320px;
    margin-right: -4px;
}

.modal-inner-select {
    width: 320px;
}
