.chat-user {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    color: #444e60;
    font-size: 14px;
    word-break: keep-all;
    white-space: nowrap;
}

.chat-user-avatar {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    border-radius: 50%;
}
