.homepage-layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: #f4f6f9;
}

.homepage-layout-content {
    flex: 1;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    justify-content: space-between;
    overflow: hidden;
}
