.one-to-one-realtime-box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .container {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

.one-to-one-realtime-content {
    flex: 1;
    display: flex;
}

.one-to-one-rtc-avatar-container {
    width: 288px;
    height: 216px;
    overflow: hidden;
    display: flex;
}
