.page-join-mid-box {
    width: 360px;
    height: 690px;
    background: #ffffff;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: relative;
}

.page-index-form-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 72px;
    padding-left: 24px;
}

.page-index-btn {
    width: 180px;
}

.page-join-radio-box {
    display: flex;
    flex-direction: column;
    span {
    color: #444E60;
    }
}

.page-join-btn-box {
    display: flex;
    flex-direction: column;
    width: 312px;
}