.user-room-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-room-time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-room-time-number {
    font-size: 24px;
    font-weight: 500;
    color: #444E60;
    line-height: 36px;
}

.user-room-cut-line {
    width: 560px;
    height: 1px;
    background-color: #DBE1EA;
    margin-top: 24px;
    margin-bottom: 24px;
}

.user-room-detail {
    margin-bottom: 32px;
}

.user-room-time-date {
    font-size: 14px;
    font-weight: 400;
    color: #444E60;
    line-height: 21px;
}

.user-room-time-mid {
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-room-time-during {
    width: 68px;
    height: 24px;
    background: #EEF0F6;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #444E60;
    line-height: 18px;
    margin-top: 7px;
}

.user-room-time-state {
    font-size: 14px;
    font-weight: 400;
    color: #E99434;
    line-height: 21px;
    margin-top: 6px;
}

.user-room-inf {
    display: flex;
    justify-content: space-between;
}

.user-room-docs {
    display: flex;
    justify-content: space-between;
}

.user-room-docs-title {
    margin-bottom: 8px;
    img {
        margin-top: -2px;
    }
    span {
        font-size: 12px;
        font-weight: 400;
        color: #7A7B7C;
        line-height: 18px;
        margin-left: 4px;
    }
}

.user-room-docs-right {
    font-size: 12px;
    font-weight: 400;
    color: #7A7B7C;
    line-height: 18px;
}

.user-room-docs-set {
    font-size: 12px;
    font-weight: 400;
    color: #3381FF;
    line-height: 18px;

}

.user-room-btn-box {
    display: flex;
    justify-content: flex-end;
}

.user-room-btn {
    margin-left: 8px;
}


