@base_black: #141414;
@base_gray: #7A7A7A;
@toolboxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.20);
@toolboxShadowHover: 0 4px 8px 0 rgba(0, 0, 0, 0.20);

@main_color: #5B908E;
@main_color_green: #16BD5D;
@black_darker: #141414;
@black_dark: #292929;
@black: #3D3D3D;
@black_light: #525252;
@black_lighter: #666666;
@gray_darker: #7A7A7A;
@gray_dark: #8F8F8F;
@gray: #A2A7AD;
@gray_light: #B8B8B8;
@gray_lighter: #CCCCCC;
@white_not_nearly: #E0E0E0;
@white_nearly: #F5F5F5;
@white_almost: #FAFAFA;
@white: #FFFFFF;

@font-face {
  font-family: "Manrope";
  src: url("./assets/font/Manrope-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Manrope, MarkPro, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Roboto, Arial, HYQiHei, "PingFang SC", "PingFang TC", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: @black_dark;
}
a:link {
  text-decoration: none;
  outline: none;
}
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  outline: none;
}
a:active {
  text-decoration: none;
  outline: none;
}


select {
  outline: none;
}

textarea {
  outline: none;
  -webkit-appearance: none;
  resize: none;
}

.ant-menu-vertical {
  border-right: white;
}

.hover-transition {
  transition-duration: 0.2s;
}

.ant-menu-inline {
  border-right: 1px solid white;
}

.ant-popover-inner-content {
  padding: 0;
}
