.realtime-box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.realtime-content {
    flex: 1;
    display: flex;
}

.realtime-content-main {
    flex: 1;
    position: relative;
}

.realtime-content-side {
    width: 0;
    transition: width 0.4s;

    &.isActive {
        width: 280px;
    }
}

.realtime-content-side-container {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100%;
    position: relative;
}

.realtime-video-container {
    overflow: hidden;
    height: 0;

    &.isActive {
        height: 158px;
    }
}

.realtime-video {
    height: 158px;
}

.realtime-messaging {
    flex: 1;
    border-top: 0.5px solid #f0f0f0;

    .ant-tabs {
        height: 100%;
        & > .ant-tabs-nav .ant-tabs-nav-list {
            width: 100%;
            justify-content: space-around;
        }
    }

    .ant-tabs-tab {
        flex: 1;
        justify-content: center;
    }
}

.realtime-side-opener {
    position: absolute;
    left: -16px;
    top: 40%;
    width: 16px;
    height: 32px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    user-select: none;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 5.5px;
        width: 1px;
        height: 16px;
        background: #7a7b7c;
    }

    &::after {
        left: 9.5px;
    }
}

.whiteboard-box {
    background-color: #f4f4f4;
    width: 100%;
    height: 100%;
}

.redo-undo-box {
    position: absolute;
    z-index: 3;
    bottom: 24px;
    left: 24px;
}

.zoom-controller-box {
    position: absolute;
    left: 120px;
    z-index: 3;
    bottom: 24px;
}

.room-controller-box {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 100;
}

.title-controller-box {
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 3;
}

.title-controller-mid-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    flex-direction: row;
    font-size: 16px;
}

.title-text {
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: rgba(33, 35, 36, 1);
    line-height: 22px;
}

.title-cut-line {
    width: 1px;
    height: 20px;
    background-color: #999999;
    margin-left: 16px;
    margin-right: 16px;
}

.title-time {
    opacity: 0.6;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: rgba(33, 35, 36, 1);
    line-height: 22px;
}

.page-controller-box {
    position: absolute;
    z-index: 3;
    bottom: 24px;
    right: 24px;
}

.tool-box-out {
    height: 100%;
    width: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 3;
    left: 24px;
}

.page-controller-mid-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    user-select: none;
    font-size: 12px;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
}

.page-controller-cell {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 2px;
    &:hover {
        background: rgba(33, 35, 36, 0.1);
    }
}

.logo-box {
    position: absolute;
    z-index: 100;
    left: 24px;
    top: 24px;
}
