.dynamic-preview-container {
    background-color: #eee;
}

.dynamic-preview-inner {
    height: 100vh;
}

.ppt-preview-container {
    .ppt-preview-main-container {
        padding-top: 24px;
        border: none;
    }
}

.ppt-preview-controls {
    display: none;
}

.dynamic-preview-pagination-previous {
    cursor: pointer;
}

.dynamic-preview-pagination-next {
    cursor: pointer;
}

.dynamic-preview-pagination-container {
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.dynamic-preview-pagination-middle {
    color: #fff;
}

.dynamic-preview-pagination-not-allow {
    opacity: 0.5;
    cursor: not-allowed;
}
