.static-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.static-preview-item {
    display: block;
    border-bottom: 2px #f3f3f3 dashed;
    padding-bottom: 10px;
}
