.room-list-item {
    position: relative;
    padding: 1px 8px 2px;

    &::after {
        content: "";
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 0;
        border-bottom: 1px solid var(--grey-1);
    }

    &.pointer {
        cursor: pointer;
    }

    &:hover {
        .room-list-item-content {
            background-color: var(--blue-1)
        }

        .room-list-item-right > * {
            opacity: 1;
        }
    }
}

.room-list-item-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.4s;
}

.room-list-item-left {
    flex: 1;
    margin-right: 16px;
}

.room-list-item-title-wrap {
    margin-bottom: 16px;
}

.room-list-item-title {
    display: inline;
    margin: 0 8px 0 0;
    font-size: 16px;
    font-weight: 600;
    word-break: break-all;
    color: var(--text-stronger);

    @media screen and (max-width: 660px) {
        font-size: 14px;
    }
}

.room-list-item-info {
    & > * {
        margin-right: 8px;
    }
}

.room-list-item-right {
    display: inline-flex;
    align-items: center;

    .ant-btn {
        line-height: 1;
        padding: 4px 7px;
        height: 28px;

        &:not(:first-of-type) {
            margin-left: 8px;
        }
    }

    .ant-btn-primary {
        padding: 4px 15px;
    }

    & > * {
        opacity: 0;
        transition: opacity 0.4s;
    }
}

.room-list-item-more {
    display: inline-flex;
    justify-content: center;
}

.room-list {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;

    @media screen and (max-width: 660px) {
        padding: 0;
    }

    .room-list-header {
        position: relative;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: "";
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 0;
            border-bottom: 1px solid var(--grey-1);

            @media screen and (max-width: 660px) {
                border-bottom-width: 0;
            }
        }
    }

    .room-list-title {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-stronger);
        padding: 16px 0;

        @media screen and (max-width: 660px) {
            display: none;
        }
    }

    .room-list-filters {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        > svg {
            margin: 0 0 2px 4px;
        }
    }

    .room-list-body {
        flex: 1;
        padding-bottom: 16px;
    }

    .room-list-footer {
        margin: 16px auto;
        font-size: 12px;
        color: #7a7b7c;
        text-align: center;
    }
}

.room-list-item-sub-menu {
    .ant-dropdown-menu {
        border-radius: 8px;
    }
}

.room-list-skeletons {
    padding: 0 16px;

    > * {
        padding-top: 16px;
        border-bottom: 1px solid #dbe1ea;

        &:last-of-type {
            border-bottom: none;
        }
    }

    .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
    .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
        background: linear-gradient(
            90deg,
            hsla(210, 33%, 96%, 1) 25%,
            hsla(210, 33%, 92%, 1) 37%,
            hsla(210, 33%, 96%, 1) 63%
        );
        background-size: 400% 100%;
        animation: ant-skeleton-loading 1.4s ease infinite;
    }
}

@keyframes ant-skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.flat-color-scheme-dark {
    .room-list {
        background-color: var(--grey-10);
    }

    .room-list-item {
        &::before {
            background: var(--grey-9);
        }

        &::after {
            border-bottom-color: var(--grey-8);
        }

        &:hover {
            .room-list-item-content {
                background-color: var(--grey-11);
            }
        }
    }

    .room-list-header {
        &::after {
            border-bottom-color: 1px solid var(--grey-8);
        }
    }

    .room-list-skeletons {
        > * {
            border-bottom-color: var(--grey-8);
        }

        .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
        .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
            background-image: linear-gradient(
                90deg,
                rgba(190, 190, 190, 0.2) 25%,
                rgba(255, 255, 255, 0.16) 37%,
                rgba(190, 190, 190, 0.2) 63%
            );
        }
    }
}
