.room-list {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;

    @media screen and (max-width: 660px) {
        padding: 0;
    }

    .room-list-header {
        position: relative;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: "";
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 0;
            border-bottom: 1px solid var(--grey-1);

            @media screen and (max-width: 660px) {
                border-bottom-width: 0;
            }
        }
    }

    .room-list-title {
        font-size: 16px;
        font-weight: 600;
        color: var(--text-stronger);
        padding: 16px 0;

        @media screen and (max-width: 660px) {
            display: none;
        }
    }

    .room-list-filters {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;

        > svg {
            margin: 0 0 2px 4px;
        }
    }

    .room-list-body {
        flex: 1;
        padding-bottom: 16px;
    }
}

.flat-color-scheme-dark {
    .room-list {
        background-color: var(--grey-10);
    }

    .room-list-header {
        &::after {
            border-bottom-color: 1px solid var(--grey-8);
        }
    }
}
