.appearance-picker-container {
    > .ant-radio-group {
        > .ant-radio-wrapper {
            border-radius: 4px;
            padding: 4px;

            > span {
                padding: 0;
            }

            .ant-radio {
                margin-top: 9px;
            }

            &::after {
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 75%;
                position: absolute;
                border-radius: 4px;
                transition: border-color 0.4s;
            }

            &.ant-radio-wrapper-checked,
            &:hover,
            &:active {
                &::after {
                    border: 2px solid var(--primary);
                }
            }
        }

        .ant-radio {
            display: none;
        }
    }
}

.appearance-picker-option {
    display: flex;
    flex-direction: column;
    align-items: center;

    > span {
        padding-top: 8px;
    }
}

.flat-color-scheme-dark {
    .appearance-picker-option {
        > span {
            color: var(--text);
        }
    }
}
