.chat-users-wrap {
    position: relative;
    height: 100%;

    &.has-speaking {
        .chat-user-ctl-btn.is-hand-raising {
            display: none !important;
        }
    }
}

.chat-users-cancel-hands-wrap {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-users-cancel-hands {
    display: flex;
    align-items: center;
    padding: 0 7px 0 3px;
    font-size: 12px;
    color: #444e60;
    border: 0.5px solid #dbe1ea;
    border-radius: 24px;
    user-select: none;
    cursor: pointer;
    background: white;

    img {
        width: 22px;
        height: 22px;
    }

    &:hover {
        background: rgba(33, 35, 36, 0.1);
    }
}

.chat-users {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &.with-cancel-hands {
        top: 40px;
    }
}
