.speaker-check-container {
    min-width: 360px;
}

.speaker-check-btn-container {
    .ant-btn {
        margin-right: 8px;
    }
}

.speaker-audio-wrapper {
    position: relative;
    width: 360px;
    height: 8px;
    margin: 12px 1px 44px;
    background-color: #f4f6f9;
}

.speaker-audio-volume {
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: var(--primary);
}

.speaker-audio-mask {
    position: absolute;
    width: 100%;
    height: 8px;
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 29px,
        white 1px,
        white 30px
    );
}

.device-check-modal-title {
    display: flex;
    align-items: center;
    padding-top: 8px;

    img {
        margin-right: 12px;
    }
}

.device-check-modal-btn .ant-btn {
    margin: 6px 0;
    padding: 0 36px;
    border-radius: 4px;
}

.check-result-modal {
    .table {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        grid-gap: 8px 24px;
        gap: 8px 24px;

        .left {
            color: var(--text-strong);
            font-size: 14px;
            line-height: 22px;
        }

        .middle {
            display: inline-flex;
            align-items: center;
        }
    }

    .red {
        color: #f45454;
    }

    .green {
        color: #7ec452;
    }

    .success {
        display: inline-block;
        width: 28px;
        border-bottom: 2px solid #7ec452;
    }
}

.flat-color-scheme-dark {
    .speaker-audio-wrapper {
        background-color: var(--grey-9);
    }

    .speaker-audio-volume {
        background-color: var(--green-7);
    }

    .speaker-audio-mask {
        background: repeating-linear-gradient(
            to right,
            transparent,
            transparent 29px,
            var(--grey-10) 1px,
            var(--grey-10) 30px
        );
    }
}
