.hotkey-setting-container {
    min-width: 360px;
}

.hotkey-setting-content {
    padding-left: 20px;

    .ant-table-header tr > th {
        border: none;
        padding: 10px;
        background: #fff;
    }

    .ant-table-body {
        width: 537px !important;
        overflow-y: hidden !important;
        max-height: initial !important;
        margin-bottom: 24px;
        border: 1px solid var(--grey-1);
        border-radius: 15px;

        .ant-table-thead {
            display: none;
        }

        .ant-table-row[data-row-key="edit1"] > td,
        .ant-table-tbody .ant-table-tbody .ant-table-row > td {
            border-top: 1px solid var(--grey-1);
        }

        .ant-table-tbody > tr > td {
            color: var(--text-strong);
            border: none;
        }
    }

    tr.ant-table-expanded-row > td {
        background-color: #fff !important;
    }
}

.hotkey-tablet-content {
    margin: 0 20px;
    width: 360px;
    display: flex;
    align-items: center;

    .hotkey-tablet-title {
        width: 160px;
    }

    .ant-select {
        flex: 1;
    }
}

.flat-color-scheme-dark {
    .hotkey-setting-content {
        .ant-table-header tr > th {
            border: none;
            padding: 10px;
            background: var(--grey-10);
            color: var(--text-strong);
        }

        .ant-table-body {
            border: 1px solid var(--grey-8);

            tr.ant-table-expanded-row > td {
                background-color: var(--grey-10) !important;
            }

            .ant-table-row[data-row-key="edit1"] > td,
            .ant-table-tbody .ant-table-tbody .ant-table-row > td {
                border-top-color: var(--grey-8);
            }
        }

        .ant-table-row-expand-icon {
            background-color: var(--grey-10);
            border-color: var(--grey-8);
        }
    }
}
