.chat-panel {
    height: 100%;

    .ant-tabs {
        height: 100%;
        & > .ant-tabs-nav .ant-tabs-nav-list {
            width: 100%;
            justify-content: space-around;
        }
    }

    .ant-tabs-tab {
        flex: 1;
        justify-content: center;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: var(--primary-strong);
    }

    .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom-color: var(--grey-1);
    }

    .ant-tabs-nav {
        margin-bottom: 0 !important;
    }

    .ant-tabs-content,
    .ant-tabs-tabpane {
        height: 100%;
        outline: 0;
    }

    .ant-tabs-nav-operations {
        position: absolute !important;
        visibility: hidden !important;
        pointer-events: none !important;
    }

    .ReactVirtualized__List {
        outline: none;
    }
}

.flat-color-scheme-dark {
    .chat-panel {
        .ant-tabs-ink-bar {
            background: var(--primary-strong);
        }
        .ant-tabs-top > .ant-tabs-nav::before {
            border-bottom-color: var(--grey-8);
        }
    }
}
