.register-content {
    padding-top: 87px;
    padding-bottom: 32px;

    .register-width-limiter {
        width: 320px;
        margin: 0 auto 12px;
    }

    .ant-input-affix-wrapper {
        padding-left: 4px;
    }

    .ant-input-password-icon.anticon {
        color: inherit;
    }
}

.register-with-btn {
    margin-bottom: 8px;
}