.login-with-phone {
    padding-top: 87px;
    padding-bottom: 32px;

    .ant-input-affix-wrapper {
        padding-left: 4px;
    }
}

.login-with-phone-btn-wrapper {
    margin-bottom: 16px;

    .ant-btn-link {
        padding: 0;
    }
}

