.chat-message-line {
    padding: 6px 16px;
    text-align: left;

    &.is-reverse {
        text-align: right;
    }
}

.chat-message-user {
    margin-bottom: 4px;
    font-size: 12px;
    color: #7a7b7c;
}

.chat-message-bubble {
    display: inline-block;
    padding: 8px 12px;
    background: #dbe1ea;
    border-radius: 4px;
    user-select: text;

    & > pre {
        margin: 0;
        padding: 0;
        overflow: visible;
        text-align: initial;
        font-family: inherit;
        white-space: normal;
        word-break: break-all;
        text-align: justify;
        user-select: auto;
    }
}

.chat-message-notice {
    color: #cececf;
    font-size: 12px;
    text-align: center;
    user-select: none;
}

.chat-message-ban {
    text-align: center;

    & > span {
        display: inline-block;
        padding: 2px 12px;
        font-size: 12px;
        color: #7a7b7c;
        background: #eef0f6;
        border-radius: 12px;
        user-select: none;
    }
}

.chat-message-user-guide-bubble {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 12px;
    user-select: text;
    background: #eef0f6;
    color: #7a7b7c;

    & > pre {
        margin: 0;
        padding: 0;
        overflow: visible;
        text-align: initial;
        font-family: inherit;
        white-space: normal;
        word-break: break-all;
        text-align: justify;
        user-select: auto;
    }
}

.chat-message-user-guide-btn {
    color: #3381ff;
    cursor: pointer;
}
