.device-test-page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f6f9;
}

.device-test-panel-box {
    width: 776px;
    height: 473px;
    padding: 16px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    background-color: #fff;
}
