.video-avatar-wrap {
    overflow: hidden;
    position: relative;
    width: 288px;
    height: 216px;
    background: #000;

    &.is-mini {
        width: 96px;
        height: 72px;

        .video-avatar-background-avatar {
            width: 22px;
            height: 22px;
        }
    }

    &:hover {
        .video-avatar-ctrl-layer {
            opacity: 1 !important;
        }
    }
}

.video-avatar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.video-avatar-background-blur {
    width: 100%;
    height: 100%;
    background-color: #1a1e21;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(16px) brightness(0.4);
}

.video-avatar-background-avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid white;
}

.video-avatar-ctrl-layer {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.4s;
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;

    &.with-video {
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}

.video-avatar-ctrl-content {
    width: 100%;
    display: flex;
    padding: 0 4px 4px 8px;

    &:hover {
        & > .video-avatar-user-name {
            opacity: 1;
        }
    }
}

.video-avatar-user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    margin: 0 5px 0 0;
    padding: 0;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    opacity: 0.64;
    transition: opacity 0.2s;
    user-select: none;
}

.video-avatar-ctrl-btns {
    flex-shrink: 0;
    margin-left: auto;
    display: flex;

    & > button {
        margin: 0 0 0 4px;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        opacity: 0.64;
        transition: opacity 0.2s;

        &:hover {
            opacity: 1;
        }

        &:disabled {
            cursor: no-drop;
        }
    }
}

.video-avatar-expand {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

    & > img {
        width: 22px;
        height: 22px;
    }
}

.video-avatar-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--grey-0);
    user-select: none;
}

.video-avatar-placeholder-img {
    width: 100%;
}

.video-avatar-placeholder-content {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 16px;
    color: var(--text);
}

.flat-color-scheme-dark {
    .video-avatar-placeholder {
        background: var(--grey-2);
    }
}
