.share-screen-picker-model {
    .ant-modal-header {
        border-bottom: none;
    }

    .ant-modal-footer {
        border-top: none;
        padding: 16px 16px;
    }

    .footer-button {
        min-width: 86px;
        height: 32px;
    }
}

.share-screen-picker {
    height: 450px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &.loading {
        display: flex;
        justify-content: center;
        align-items: center
    }
}
