.camera-check-container {
    min-width: 360px;

    p {
        margin-bottom: 8px;
        color: var(--text-strong);
    }

    .ant-select {
        width: 360px;
        margin-bottom: 15px;
        color: var(--text);
    }
}

.camera-check-info {
    width: 360px;
    height: 240px;
    margin-bottom: 44px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fafafa;
}

.camera-check-btn {
    .ant-btn {
        margin-right: 8px;
    }
}

.flat-color-scheme-dark {
    .camera-check-info {
        background-color: var(--grey-10);
    }
}
