.main-layout-sub-menu {
    width: 240px;
    border-right: solid 1px #dbe1ea;
    background-color: #fff;

    > ul {
        list-style-type: none;
        padding-inline-start: 0px;
    }
}

.main-layout-sub-menu-item-icon {
    margin-right: 8px;
}

.main-layout-sub-menu-item {
    display: flex;
    padding: 9px 0px 9px 16px;
    transition: background-color 0.4s;
    align-items: center;
    color: var(--text);

    &:hover,
    &:active {
        color: var(--text);
        background-color: rgba(243, 246, 249, 1);
    }

    &.is-active {
        color: var(--text);
        background-color: rgba(51, 129, 255, 0.06);
    }
}

.flat-color-scheme-dark {
    .main-layout-sub-menu {
        background-color: var(--grey-10);
        border-right: solid 1px var(--grey-8);
    }

    .main-layout-sub-menu-item {
        color: var(--text);

        &:hover {
            background-color: var(--grey-9);
        }

        &:active {
            background-color: var(--grey-11);
        }

        &.is-active {
            color: var(--blue-7);
            background-color: var(--grey-11);
        }
    }
}
