.login-button-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1.25px solid rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    font-size: 0;
    outline: none;
    cursor: pointer;

    img {
        width: 32px;
        pointer-events: none;
    }

    &-agora {
        background: #089cfd;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background: #45b4fd;
        }

        &:active {
            background: #0675be;
        }
    }

    &-wechat {
        background: #1aad19;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background: #50c050;
        }

        &:active {
            background: #138212;
        }
    }

    &-github {
        background: #24292e;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background: #595d60;
        }

        &:active {
            background: #1b1f22;
        }
    }

    &-google {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15);
        transition: border 0.3s ease-in-out;

        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.3);
        }

        &:active {
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
}
