.login-channel-lg {


    &.ant-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 272px;
        height: 44px;
        color: #fff;
        border: none;

        span {
            vertical-align: middle;
        }
    }

    img {
        margin-right: 3px;
    }
}


.login-channel-agora {
    &.ant-btn {
        background: #089CFD;

        &:hover {
            background: #45B4FD;
        }
        &:active {
            background: #0675BE;
        }
    }
}

.login-channel-wechat {
    margin-bottom: 12px;

    &.ant-btn {
        background: #1aad19;

        &:hover {
            background: #50c050;
        }
        &:active {
            background: #138212;
        }
    }
}

.login-channel-github {
    margin-bottom: 12px;
    
    &.ant-btn {
        background: #24292e;

        &:hover {
            background: #595d60;
        }
        &:active {
            background: #1b1f22;
        }
    }
}
