.sensitive-page-container {
    background-color: #edf0f6;
    padding: 8px 0;
}

.sensitive-page {
    background-color: #fff;
    padding: 16px;
    margin-bottom: 8px;
}

.sensitive-page-actions {
    text-align: right;
    padding-bottom: 12px;

    .ant-select {
        text-align: left;
    }
}

.sensitive-page-subtitle {
    text-align: center;
}

.flat-color-scheme-dark {
    .sensitive-page-container {
        color: var(--text);
        background-color: var(--grey-12);
    }

    .sensitive-page {
        background-color: var(--grey-9);
    }
}
