@import "flat-components/theme/fancy-scrollbar.less";

.flat-theme-root {
    * {
        user-select: none;
    }

    body {
        .fancy-scrollbar-mixin();
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: currentColor;
        text-decoration: none;
        outline: none;
    }

    select {
        outline: none;
    }

    textarea {
        outline: none;
        -webkit-appearance: none;
        resize: none;
    }

    background-color: var(--grey-0);
}

.flat-color-scheme-dark {
    &.flat-theme-root {
        background-color: var(--grey-12);
    }
}
