.resource-preview-container {
    max-width: 100%;

    .ant-modal-content {
        border-radius: 0px;
    }

    .ant-modal-body {
        height: 100vh;
        overflow-y: auto;
    }

    .anticon-info-circle {
        display: none;
    }

    .ant-modal-confirm-btns {
        display: none;
    }
}
