.cloud-storage-container {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.flat-color-scheme-dark {
    .cloud-storage-container {
        box-shadow: 0px 1px 1px rgba(15, 18, 25, 0.15);
    }
}
