.antd-mod-buttons {
    background-color: #fff;
}

.antd-mod-buttons-titles {
    color: var(--text-weak);
    font-weight: normal;
}

.flat-color-scheme-dark {
    .antd-mod-buttons {
        background-color: var(--grey-12);
    }

    .antd-mod-buttons-titles {
        color: var(--text-strong);
    }
}
