@import "./variables/antd.mod.less";
@import "~antd/dist/antd.less";

.ant-modal-content {
    border-radius: 8px;
}

.ant-modal-header {
    border-radius: 8px 8px 0 0;
}

.ant-menu-vertical {
    border-right: white;
}

.hover-transition {
    transition-duration: 0.2s;
}

.ant-menu-inline {
    border-right: 1px solid white;
}

.ant-popover-inner-content {
    padding: 0;
}

.ant-message-notice-content {
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
}

.ant-input {
    padding: 8px;
    line-height: 20px;
    color: #444e60;
    border-radius: 4px;
    border: 1px solid #dbe1ea;

    &::placeholder {
        color: #dbe1ea;
    }

    &::selection {
        color: inherit;
        background: #b3d7ff;
    }

    &[disabled] {
        background: #eef0f6;
        border: 1px solid #dbe1ea;

        &,
        &::placeholder {
            color: rgba(122, 123, 124, 0.4);
        }
    }
}

.ant-input-focused,
.ant-input:focus {
    border: 1px solid @primary-color;
    outline: 0;
    box-shadow: 0px 0px 4px 0px rgba(51, 129, 255, 0.24);
}

.ant-radio-inner {
    &:after {
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        // background-color: @primary-color;
    }
}

.ant-checkbox-wrapper.is-hover .ant-checkbox-inner,
.ant-radio-wrapper.is-hover .ant-radio-inner {
    border-color: @primary-color;
}

.ant-checkbox-inner::after {
    top: 45%;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
    border-width: 1px;
}

.btn-color(@name: false) {
    @className: if((isstring(@name)), ~"ant-btn-@{name}", ant-btn);
    @prefix: if((isstring(@name)), "--f-btn-@{name}", "--f-btn");

    .@{className} {
        color: var(~"@{prefix}-text");
        border-color: var(~"@{prefix}-border");
        background-color: var(~"@{prefix}-bg");
    }

    .@{className}:focus,
    .@{className}.is-focus {
        color: var(~"@{prefix}-text-focus");
        border-color: var(~"@{prefix}-border-focus");
        background-color: var(~"@{prefix}-bg-focus");
    }

    .@{className}:hover,
    .@{className}.is-hover {
        color: var(~"@{prefix}-text-hover");
        border-color: var(~"@{prefix}-border-hover");
        background-color: var(~"@{prefix}-bg-hover");
    }

    .@{className}:active,
    .@{className}.is-active {
        color: var(~"@{prefix}-text-active");
        border-color: var(~"@{prefix}-border-active");
        background-color: var(~"@{prefix}-bg-active");
    }

    .@{className}:disabled {
        color: var(~"@{prefix}-text-disabled");
        border-color: var(~"@{prefix}-border-disabled");
        background-color: var(~"@{prefix}-bg-disabled");
    }
}

/* ------------------------ *\
 * Buttons
\* ------------------------ */
.ant-btn {
    --f-btn-text: var(--grey-6);
    --f-btn-bg: #fff;
    --f-btn-border: var(--grey-3);

    --f-btn-text-focus: var(--primary);
    --f-btn-bg-focus: var(--f-btn-bg);
    --f-btn-border-focus: var(--f-btn-text-focus);

    --f-btn-text-hover: var(--primary-weak);
    --f-btn-bg-hover: var(--f-btn-bg);
    --f-btn-border-hover: var(--f-btn-text-hover);

    --f-btn-text-active: var(--primary-strong);
    --f-btn-bg-active: var(--f-btn-bg);
    --f-btn-border-active: var(--f-btn-border-active);

    --f-btn-text-disabled: var(--grey-5);
    --f-btn-bg-disabled: var(--grey-2);
    --f-btn-border-disabled: var(--f-btn-bg-disabled);

    --f-btn-primary-text: #fff;
    --f-btn-primary-bg: var(--primary);
    --f-btn-primary-border: var(--primary-strong);

    --f-btn-primary-text-focus: var(--f-btn-primary-text);
    --f-btn-primary-bg-focus: var(--primary-weak);
    --f-btn-primary-border-focus: var(--f-btn-primary-border);

    --f-btn-primary-text-hover: var(--f-btn-primary-text);
    --f-btn-primary-bg-hover: var(--primary-weak);
    --f-btn-primary-border-hover: var(--f-btn-primary-border);

    --f-btn-primary-text-active: var(--f-btn-primary-text);
    --f-btn-primary-bg-active: var(--primary-strong);
    --f-btn-primary-border-active: var(--f-btn-primary-border);

    --f-btn-primary-text-disabled: var(--f-btn-text-disabled);
    --f-btn-primary-bg-disabled: var(--f-btn-bg-disabled);
    --f-btn-primary-border-disabled: var(--f-btn-border-disabled);

    --f-btn-text-text: var(--text);
    --f-btn-text-bg: transparent;
    --f-btn-text-border: transparent;

    --f-btn-text-text-focus: var(--primary);
    --f-btn-text-bg-focus: transparent;
    --f-btn-text-border-focus: transparent;

    --f-btn-text-text-hover: var(--f-btn-text-text);
    --f-btn-text-bg-hover: var(--blue-1);
    --f-btn-text-border-hover: var(--f-btn-text-bg-hover);

    --f-btn-text-text-active: var(--f-btn-text-text);
    --f-btn-text-bg-active: var(--blue-2);
    --f-btn-text-border-active: var(--f-btn-text-bg-active);

    --f-btn-text-text-disabled: var(--grey-3);
    --f-btn-text-bg-disabled: transparent;
    --f-btn-text-border-disabled: transparent;

    --f-btn-link-text: var(--primary);
    --f-btn-link-bg: transparent;
    --f-btn-link-border: transparent;

    --f-btn-link-text-focus: var(--primary);
    --f-btn-link-bg-focus: transparent;
    --f-btn-link-border-focus: transparent;

    --f-btn-link-text-hover: var(--primary-weak);
    --f-btn-link-bg-hover: transparent;
    --f-btn-link-border-hover: transparent;

    --f-btn-link-text-active: var(--primary-strong);
    --f-btn-link-bg-active: transparent;
    --f-btn-link-border-active: transparent;

    --f-btn-link-text-disabled: var(--grey-3);
    --f-btn-link-bg-disabled: transparent;
    --f-btn-link-border-disabled: transparent;

    --f-btn-dangerous-text: var(--danger);
    --f-btn-dangerous-bg: var(--f-btn-bg);
    --f-btn-dangerous-border: var(--danger);

    --f-btn-dangerous-text-focus: var(--danger);
    --f-btn-dangerous-bg-focus: var(--f-btn-dangerous-bg);
    --f-btn-dangerous-border-focus: var(--f-btn-dangerous-text-focus);

    --f-btn-dangerous-text-hover: var(--danger-weak);
    --f-btn-dangerous-bg-hover: var(--f-btn-dangerous-bg);
    --f-btn-dangerous-border-hover: var(--f-btn-dangerous-text-hover);

    --f-btn-dangerous-text-active: var(--danger-strong);
    --f-btn-dangerous-bg-active: var(--f-btn-dangerous-bg);
    --f-btn-dangerous-border-active: var(--f-btn-dangerous-text-active);

    --f-btn-dangerous-text-disabled: var(--f-btn-text-disabled);
    --f-btn-dangerous-bg-disabled: var(--f-btn-bg-disabled);
    --f-btn-dangerous-border-disabled: var(--f-btn-border-disabled);
}

.flat-color-scheme-dark {
    .ant-btn {
        --f-btn-text: var(--grey-4);
        --f-btn-bg: transparent;
        --f-btn-border: var(--grey-6);

        --f-btn-text-hover: var(--primary-strong);

        --f-btn-text-active: var(--primary-weak);

        --f-btn-text-disabled: var(--grey-7);
        --f-btn-bg-disabled: var(--grey-9);
        --f-btn-border-disabled: var(--grey-9);

        --f-btn-primary-border: var(--primary-weak);

        --f-btn-primary-bg-focus: var(--primary-strong);

        --f-btn-primary-bg-hover: var(--primary-strong);

        --f-btn-primary-bg-active: var(--primary-weak);

        --f-btn-text-bg-hover: var(--grey-8);

        --f-btn-text-bg-active: var(--grey-9);

        --f-btn-text-text-disabled: var(--grey-7);

        --f-btn-link-text-hover: var(--primary-strong);

        --f-btn-link-text-active: var(--primary-weak);

        --f-btn-link-text-disabled: var(--grey-7);

        --f-btn-dangerous-text-hover: var(--danger-strong);

        --f-btn-dangerous-text-active: var(--danger-weak);
    }
}

.btn-color();
.btn-color("text");
.btn-color("link");
.btn-color("primary");
.btn-color("dangerous");

.ant-btn {
    border-radius: 4px;
    box-shadow: none;

    &:hover,
    &.is-hover {
        box-shadow: 0px 2px 4px var(--primary-weaker);
        backdrop-filter: blur(5.5px);
    }

    &.ant-btn-text,
    &.ant-btn-link {
        border: none;
        box-shadow: none;
    }

    &.ant-btn-dangerous {
        &:hover,
        &.is-hover {
            box-shadow: 0px 2px 4px var(--danger-weaker);
        }

        &.ant-btn-text {
            &:hover,
            &.is-hover,
            &:active,
            &.is-active {
                color: var(--f-btn-dangerous-text);
                background-color: var(--red-1);
                box-shadow: none;
            }
        }
    }

    &.ant-btn-ghost {
        color: var(--grey-4);
        border-color: var(--grey-6);
        background-color: transparent;

        &:focus,
        &.is-focus {
            color: var(--primary);
            border-color: var(--primary);
        }

        &:hover,
        &.is-hover {
            color: var(--grey-3);
            border-color: var(--grey-5);
            box-shadow: none;
            backdrop-filter: none;
        }

        &:active,
        &.is-active {
            color: var(--grey-5);
            border-color: var(--grey-7);
        }

        &:disabled {
            color: var(--grey-7);
            border-color: var(--grey-7);
            background-color: transparent;
        }
    }
}

.flat-color-scheme-dark {
    .ant-btn {
        box-shadow: none !important;

        &.ant-btn-dangerous.ant-btn-text {
            background-color: transparent;

            &:hover,
            &.is-hover {
                color: var(--f-btn-dangerous-text);
                background-color: var(--f-btn-text-bg-hover);
            }

            &:active,
            &.is-active {
                color: var(--f-btn-dangerous-text);
                background-color: var(--f-btn-text-bg-active);
            }

            &:disabled {
                color: var(--f-btn-text-disabled);
            }
        }
    }
}

.ant-btn-circle {
    border-radius: 50%;
}
