body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import "./fancy-scrollbar.less";

body {
    .fancy-scrollbar-mixin();
}

a {
    color: var(--link);

    &:focus {
        color: var(--link-focus);
    }

    &:hover {
        color: var(--link-hover);
    }

    &:active {
        color: var(--link-active);
    }
}

select {
    outline: none;
}

textarea {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}
