body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import "./fancy-scrollbar.less";
body {
    .fancy-scrollbar-mixin();
}

a {
    color: var(--link);
    &:focus {
        color: var(--link-focus);
    }
    &:hover {
        color: var(--link-hover);
    }
    &:active {
        color: var(--link-active);
    }
}

select {
    outline: none;
}

textarea {
    outline: none;
    -webkit-appearance: none;
    resize: none;
}

// reduce specificity
:where(a):visited {
    color: var(--link-visited);
}
