@charset "utf-8";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/form/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import "~bulma/sass/elements/box.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/components/panel.sass";
@import "~bulma/sass/helpers/_all.sass";

.box .title {
    color: var(--text-strong);
}

.flat-color-scheme-dark {
    .box {
        background-color: var(--grey-10);
    }
}
