.fastboard-toolbar-panel.apps {
    gap: 8px;

    .fastboard-toolbar-app-btn-text {
        line-height: 1.5;
    }

    .fastboard-toolbar-app-btn.dark > img {
        filter: invert(0.875) hue-rotate(180deg);
    }
}

.fastboard-toolbar-panel.apps {
    padding: 4px 0;
}
