.fastboard-toolbar-panel.apps,
.fastboard-toolbar-app-btn {
    gap: 8px;
}

.fastboard-toolbar-panel.apps {
    padding: 4px 0;
}

.fastboard-toolbar-app-btn-icon {
    width: 40px;
    height: 40px;
}

.fastboard-toolbar-app-btn-text {
    line-height: 1.5;
}
