@import "./colors.less";

.flat-theme-root:extend(.flat-colors-root) {
    --brand: var(--blue-6);

    --primary: var(--blue-5);
    --primary-dark: var(--blue-6);
    --primary-darker: var(--blue-7);
    --primary-light: var(--blue-2);
    --primary-lighter: var(--blue-1);

    --danger: var(--red-5);
    --danger-dark: var(--red-6);
    --danger-darker: var(--red-7);
    --danger-light: var(--red-2);
    --danger-lighter: var(--red-1);

    --success: var(--green-5);
    --success-dark: var(--green-6);
    --success-darker: var(--green-7);
    --success-light: var(--green-2);
    --success-lighter: var(--green-1);

    --warning: var(--yellow-5);
    --warning-dark: var(--yellow-6);
    --warning-darker: var(--yellow-7);
    --warning-light: var(--yellow-2);
    --warning-lighter: var(--yellow-1);

    --text: var(--grey-5);
    --text-dark: var(--grey-6);
    --text-darker: var(--grey-7);
    --text-light: var(--grey-2);
    --text-lighter: var(--grey-1);

    --link: var(--blue-6);
    --link-hover: var(--blue-5);
    --link-active: var(--blue-7);
    --link-focus: var(--blue-5);
    --link-visited: var(--blue-3);
}
