

.content-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .ant-btn {
        height: 80px;
        width: 176px;
        margin: 24px;
        border-radius: 16px;
        background-color: white;
        font-size: 16px;
        border-color: white;
    }
    img {
        padding-right: 16px;
    }
}

.modal-inner-name {
    font-size: 14px;
    font-weight: 400;
    color: #7A7B7C;
    line-height: 21px;
    margin-bottom: 8px;
}

.modal-inner-input {
    margin-bottom: 24px;
}

.modal-inner-check {
    margin-bottom: 8px;
}

.modal-inner-text {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #7A7B7C;
    line-height: 18px;
}

.modal-dropdown-icon {
    margin-right: -8px;
    cursor: pointer;
}

.modal-menu-item {
    margin-top: 12px;
    width: 320px;
    margin-right: -4px;
}
