.room-list-label {
    box-sizing: border-box;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 400;
    vertical-align: text-bottom;
    border-radius: 10px;
    color: var(--grey-6);
    background: var(--grey-1);
    border: 1px solid var(--grey-2);
    user-select: none;
    white-space: nowrap;
    word-break: keep-all;
}

.flat-color-scheme-dark {
    .room-list-label-default {
        color: var(--grey-4);
        background: var(--grey-9);
        border: 1px solid var(--grey-8);
    }
}

.room-list-label-success {
    color: var(--success);
    background-color: var(--success-weaker);
    border-color: var(--success-weak);
}

.room-list-label-primary {
    color: var(--primary);
    background-color: var(--primary-weaker);
    border-color: var(--primary-weak);
}

.room-list-label-warning {
    color: var(--warning);
    background-color: var(--warning-weaker);
    border-color: var(--warning-weak);
}
