.homepage-layout-horizontal-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.homepage-layout-horizontal-content {
    flex: 1;
    min-width: 960px;
    width: 960px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    justify-content: space-between;
    overflow: hidden;
}
