.cloud-storage-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.cloud-storage-container-head {
    display: flex;
    margin-bottom: 30px;
    padding: 24px 24px 0 32px;
    user-select: none;
}

.cloud-storage-container-title {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 5px;
    color: var(--text-stronger);
}

.cloud-storage-container-subtitle {
    font-size: 12px;
    line-height: 1.5;
    color: var(--text);

    &.is-hide {
        opacity: 0;
    }
}

.cloud-storage-container-btns {
    display: flex;
    align-items: center;
    margin-left: auto;

    &>* {
        margin-left: 1em !important;
    }

    .ant-btn-group>.ant-btn:first-child:not(:last-child),
    .ant-btn-group>span:first-child:not(:last-child)>.ant-btn {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .ant-btn-group>.ant-btn:last-child:not(:first-child),
    .ant-btn-group .ant-btn-primary:not(:first-child):not(:last-child) {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &>button {
        border-radius: 5px;
    }

    .ant-dropdown-menu {
        border-radius: 8px;
    }
}

.cloud-storage-container-btn-delete {
    cursor: pointer;
    margin-left: 16px;
}

.cloud-storage-container-navigation-box {
    padding: 0 18px;
}

.cloud-storage-container-btn-arrow {
    position: relative;
    width: 15px;
    height: 20px;
    display: inline-block;
    margin-left: 14px;

    >span {
        position: absolute;
        top: 10px;
        width: 9px;
        height: 1px;
        background-color: var(--grey-6);
        display: inline-block;
        transition: all .2s ease;

        &:first-of-type {
            left: 0;
            transform: rotate(45deg);
        }

        &:last-of-type {
            right: 0;
            transform: rotate(-45deg);
        }
    }
}

.cloud-storage-container-dropdown-btn {
    display: inline-flex;
    align-items: center;
}

.cloud-storage-container-btns .ant-dropdown:hover,
.cloud-storage-container-dropdown-btn:hover {
    .cloud-storage-container-btn-arrow {
        >span {
            &:first-of-type {
                background-color: var(--primary);
                transform: rotate(-45deg);
            }

            &:last-of-type {
                background-color: var(--primary);
                transform: rotate(45deg);
            }
        }
    }

    .cloud-storage-container-btn-arrow-primary {
        >span {
            &:first-of-type {
                background-color: #fff;
                transform: rotate(-45deg);
            }

            &:last-of-type {
                background-color: #fff;
                transform: rotate(45deg);
            }
        }
    }
}

.cloud-storage-container-btn-arrow-primary:extend(.cloud-storage-container-btn-arrow) {
    >span {
        background-color: #fff;
    }
}

.cloud-storage-container-file-list {
    flex: 1;
    padding: 10px 24px;
}

.cloud-storage-container-upload-panel {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 101;

    &.is-panel-compact {
        left: 50%;
        right: unset;
        bottom: 50%;
        transform: translate(-50%, 50%);
        transition: left 0.4s, bottom 0.4s, transform 0.4s;

        &.is-panel-fold {
            left: 0;
            bottom: 0;
            transform: translate(0, 0);
        }
    }
}

.cloud-storage-container-footer {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px 0 32px;
    border-top: 1px solid var(--grey-1);
    user-select: none;
}

.cloud-storage-container-mask {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.cloud-storage-container-mask-enter {
    opacity: 0;
}

.cloud-storage-container-mask-enter-active {
    opacity: 1;
    transition: opacity 0.4s;
}

.cloud-storage-container-mask-exit {
    opacity: 1;
}

.cloud-storage-container-mask-exit-active {
    opacity: 0;
    transition: opacity 0.4s;
}

.cloud-storage-container-tips {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .75);
    pointer-events: none;
}

.cloud-storage-container-tips-content {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 16px;
    border-radius: 4px;
    background: var(--primary);
    color: #fff;
    opacity: .95;
    animation: bouncing 1s infinite cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes bouncing {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-10px);
    }

    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.flat-color-scheme-dark {
    .cloud-storage-container-footer {
        border-top-color: var(--grey-8);
    }

    .cloud-storage-container {
        background-color: var(--grey-10);

        .ant-dropdown-menu {
            color: var(--grey-3);
            background-color: var(--grey-9);
        }

        .ant-dropdown-menu-item:hover {
            background-color: var(--grey-7);
        }
    }

    .cloud-storage-container-btn-arrow {
        >span {
            background-color: var(--grey-3);
        }
    }

    .cloud-storage-container-tips {
        background: rgba(0, 0, 0, .75);
    }
}
