.timer-bar {
    color: var(--text);
    font-size: 12px;
    margin: 0 8px;

    &-1 {
        color: var(--success);
    }

    &-2 {
        color: var(--warning);
    }

    &-3 {
        color: var(--danger);
    }

    .timer-text {
        display: inline-block;
        font-variant-numeric: tabular-nums;
    }
}
