.cloud-storage-button-modal {
    .cloud-storage-container-file-list {
        max-height: 80vh;
    }
    .ant-modal-body,
    .ant-modal-footer {
        padding: 0;
    }
    .ant-modal-content {
        overflow: hidden;
    }
}
