.cloud-storage-button-modal {
    min-width: 640px;
    min-height: 80vh;

    .ant-modal-content {
        overflow: hidden;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .ant-modal-body {
        flex: 1;
        padding: 0;
    }

    .ant-modal-footer {
        display: none;
    }
}
