.layout-container {
    width: 100%;
    height: 100%;
    background-color: rgb(19, 20, 21);
    display: flex;
}

.layout-container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 36px;
    img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid white;
    }
}

.layout-container-menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .ant-menu {
        background-color: #131415;
        border: 0;
    }

    ul {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .splitter {
            flex: 1;
        }
    }

    li.ant-menu-item {
        padding: 14px 14px !important;
        margin: 0 !important;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        color: white;

        a {
            color: #7a7b7c;
        }

        .ant-menu-item-icon {
            margin-right: 0;
        }

        &.ant-menu-item-selected {
            color: black;
        }
    }

    li.ant-menu-item-selected {
        a {
            color: #fff;
        }
    }
}

.layout-container-content {
    flex: 1;
    display: flex;
    background-color: #f4f6f9;
}

.flex-column {
    flex-direction: column;
}
