.page-index-form-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}
.page-index-input-box {
    width: 384px;
    margin-bottom: 28px;
}

.page-index-btn {
    width: 180px;
}

.page-index-btn-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 384px;
}
