.small-video-avatar {
    width: 144px;
    height: 108px;

    .video-avatar-background-avatar {
        width: 40px;
        height: 40px;
    }

    .video-avatar-background-avatar {
        top: ((24 / 108) * 100%);
        transform: translateX(-50%);
    }
}
