.main-page-header-container {
    display: flex;
    align-items: center;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.main-page-header-back {
    cursor: pointer;
    color: #3381ff;
}
