.login-with-email {
    padding-top: 87px;
    padding-bottom: 32px;

    .login-width-limiter {
        margin: 0 auto 32px;
    }

    .login-width-limiter>div {
        margin-bottom: 16px;
    }

    .ant-input-wrapper {
        display: flex;

        .ant-input-affix-wrapper {
            flex: 1
        }
    }

    .ant-input-affix-wrapper {
        padding-left: 4px;
    }

    .ant-input-group-addon {
        width: 32px;
        background: #fff;

        .ant-select .ant-select-selector {
            margin-top: -12px;
        }

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
            display: none;
        }

        .ant-select-item-option-content {
            text-align: start;
        }

        .ant-select-arrow {
            right: 6px;
        }

        .ant-select-dropdown {
            width: 200px !important;
        }

    }

    .ant-input-password-icon.anticon {
        color: inherit;
    }
}

.reset-page-with-email-or-phone.login-width-limiter {
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    .ant-input-affix-wrapper {
        padding-left: 4px;
        margin-bottom: 16px;
    }

    .ant-input-password-icon.anticon {
        color: inherit;
    }
}

.login-with-email-forgot-password {
    padding-top: 184px;
}

.login-with-resetting-btn,
.login-with-email-login-btn,
.login-with-email-next-btn {
    margin-bottom: 8px;
}

.login-with-email-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .ant-btn-link {
        padding: 0;
    }
}

.login-with-email-send-code-btn {
    padding: 0 4px;
}