.login-with-email {
    padding-top: 87px;
    padding-bottom: 32px;

    .login-width-limiter {
        margin: 0 auto 12px;
    }

    .login-width-limiter>div {
        margin-bottom: 16px;
    }
}

.reset-page-with-email-or-phone.login-width-limiter {
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    .ant-input-affix-wrapper {
        padding-left: 4px;
    }

    .ant-input-password-icon.anticon {
        color: inherit;
    }
}

.login-with-resetting-btn,
.login-with-email-login-btn {
    margin-bottom: 8px;
}

.login-with-email-btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .ant-btn-link {
        padding: 0;
    }
}
