.login-page-container {
    overflow: hidden;
    width: 960px;
    height: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 4px 40px rgb(0 0 0 / 15%);
    background-color: #fff;
}

.flat-color-scheme-dark {
    .login-page-container {
        background-color: var(--grey-10);
    }
}
