.about-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
        padding-bottom: 12px;
    }

    .flat-name {
        color: var(--text-strong);
        font-size: 16px;
        font-weight: 500;
    }

    .flat-version {
        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 16px;
    }
}
