.login-page-container {
    width: 100%;
    height: 100%;
    background-color: #fff;

    button {
        outline: none;
    }
}

.login-page-top-bar {
    -webkit-app-region: drag;

    position: absolute;
    height: 40px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.flat-color-scheme-dark {
    .login-page-container {
        background-color: var(--grey-10);
    }
}
