.one-to-one-page-container {
    // PATCH: low version Electron bug
    // if a element location on the window edge that has drag attributes and the frames of BrowserWindow options is false,
    // then this window can't to resize size of window.
    // so that wrap draggable elements and add padding property to achieve resize feature.
    // TODO: upgrade new version of the Electron after remove the PATCH.
    height: 100%;
    padding: 0.5px;
}

.one-to-one-realtime-container {
    -webkit-app-region: drag;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #edeff2;
}

.one-to-one-realtime-box {
    -webkit-app-region: no-drag;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.one-to-one-realtime-content-container {
    position: relative;
}

.one-to-one-realtime-content {
    flex: 1;
    display: flex;
}

.one-to-one-rtc-avatar-container {
    width: 288px;
    height: 216px;
    overflow: hidden;
    display: flex;
}

.flat-color-scheme-dark {
    .one-to-one-realtime-container,
    .one-to-one-realtime-box {
        color: var(--text);
        background-color: var(--grey-10);
        border: 1px solid var(--grey-8);
    }
}
