.cloud-storage-skeletons {
    padding: 0 16px;

    > * {
        padding-top: 16px;
        border-bottom: 1px solid #dbe1ea;

        &:last-of-type {
            border-bottom: none;
        }
    }

    .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title,
    .ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
        background: linear-gradient(
            90deg,
            hsla(210, 33%, 96%, 1) 25%,
            hsla(210, 33%, 92%, 1) 37%,
            hsla(210, 33%, 96%, 1) 63%
        );
        background-size: 400% 100%;
        animation: ant-skeleton-loading 1.4s ease infinite;
    }
}

.cloud-storage-skeletons-item {
    display: flex;
    flex-direction: row;
}

.cloud-storage-skeletons-item-icon {
    width: 6%;
    margin-right: 20px;
}

.cloud-storage-skeletons-item-file {
    width: 100%;
    margin-right: 25%;
}

.cloud-storage-skeletons-item-file-compact {
    margin-right: 10%;
}

.cloud-storage-skeletons-item-file-size {
    width: 20%;
    margin-right: 20px;
}

.cloud-storage-skeletons-item-file-date {
    width: 40%;
}
