.login-with-phone {
    padding-top: 96px;
    padding-bottom: 32px;

    &.binding {
        padding-top: 184px;
    }

    .ant-input-affix-wrapper {
        padding-left: 4px;
        margin-bottom: 16px;
    }
}

.login-countdown {
    user-select: none;
    -webkit-user-select: none;
}

.login-with-wechat {
    padding-top: 186px;
    padding-bottom: 32px;
}

.login-qrcode-text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.login-qrcode {
    margin-bottom: 8px;
    text-align: center;

    img {
        width: 200px;
    }
}
