.content-container {
    height: 100%;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px 8px 0px 0px;
}

.header-container {
    margin-bottom: 24px;

    span {
        font-size: 16px;
        color: #444e60;
        display: inline-block;
        margin-bottom: 16px;
    }
    border-bottom: #dbe1ea solid 1px;
}

.inner-container {
    width: 537px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .ant-btn-dangerous {
        width: 128px;
        margin-left: 400px;
        margin-top: 100px;
    }

    > span {
        color: #7a7b7c;
    }

    label {
        margin-top: 24px;
        font-size: 12px;
        color: #444e60;
    }
}

.book-notice {
    .ant-radio-group {
        margin-left: 72px;
    }
}

.select-language {
    > span {
        display: block;
        margin-top: 24px;
        color: #7a7b7c;
    }
    .ant-radio-group {
        margin-left: 0;

        label {
            margin-right: 72px;
        }
    }
}
