.small-class-realtime-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #edeff2;
}

.small-class-realtime-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.small-class-realtime-content-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.small-class-realtime-avatars-wrap {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
    background: #fff;
    width: 100%;
    border-top: 0.5px #dbe1ea solid;
    border-bottom: 0.5px #dbe1ea solid;
    box-shadow: 0px 8px 24px 0px rgba(68, 78, 96, 0.08);

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
    }
}

.small-class-realtime-avatars {
    height: 108px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f6f9;

    .video-avatar,
    .video-avatar-absent {
        width: 144px;
        height: 108px;
    }
}

.small-class-realtime-content {
    flex: 1;
    display: flex;
}

.flat-color-scheme-dark {
    .small-class-realtime-container,
    .small-class-realtime-box {
        color: var(--text);
        background-color: var(--grey-10);
        border: 1px solid var(--grey-8);
    }
    .small-class-realtime-avatars-wrap {
        background-color: var(--grey-10);
        border-color: var(--grey-8);
    }
    .small-class-realtime-avatars {
        background-color: var(--grey-10);
    }
}
