.microphone-test-text {
    color: #7a7b7c;
    padding-bottom: 8px;
}

.microphone-test-wrapper {
    position: relative;
    height: 8px;
    margin: 12px 1px 44px;
    background-color: #f4f6f9;
}

.microphone-test-volume {
    position: absolute;
    width: 100%;
    height: 8px;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    background-color: #3381ff;
}

.microphone-test-mask {
    position: absolute;
    width: 100%;
    height: 8px;
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 29px,
        white 1px,
        white 30px
    );
}
