.app-store-modal {
    .ant-modal-content {
        width: 400px;
    }

    .ant-modal-header {
        border-bottom: none;
        padding: 16px 16px 0 16px;
    }

    .ant-modal-body {
        padding: 0;
    }
}

.app-store-modal-title {
    color: #444e60;
}

.app-store-modal-inner-text {
    padding-top: 24px;
    font-size: 14px;
    font-weight: normal;
    color: #5d5d5d;
}

.apps-container {
    display: flex;
    flex-wrap: wrap;
}

.app-box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    cursor: pointer;
}

.app-icon-box {
    width: 50px;
    height: 50px;
    position: relative;
}

.app-loading-spin {
    width: 52px;
    height: 52px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 0;
    border-radius: 10px;
    cursor: wait;
    background: rgba(0, 0, 0, 0.3);
}

.app-icon {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.app-name {
    padding-top: 6px;
}
