@import "../../theme/fancy-scrollbar.less";

.periodic-room-panel-container {
    height: 100%;
    min-width: 540px;
    display: flex;
    flex-direction: column;
    padding: 0 48px;
    padding-top: 24px;
    border-radius: 6px;
    background-color: #fff;
}

.periodic-room-panel-btn-list {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 16px;

    .ant-btn {
        width: 128px;
        height: 32px;
        margin-right: 8px;
    }
}

.periodic-room-panel-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
    line-height: 1;
    margin: 0;
}

.periodic-room-panel-tips {
    background-color: var(--grey-0);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 24px;
}

.periodic-room-panel-tips-title {
    color: #3381ff;
}

.periodic-room-panel-tips-type {
    color: var(--text);
    margin-top: 8px;
    margin-bottom: 8px;
}

.periodic-room-panel-tips-inner {
    color: var(--text);
}

.periodic-room-panel-table-line {
    width: 100%;
    margin-top: 16px;
    border-bottom: solid 1px var(--grey-0);
}

.periodic-room-panel-table-container {
    .fancy-scrollbar-mixin();
    flex: 1;

    .ant-table-tbody > tr > td {
        color: var(--text);
        border-bottom: 1px solid transparent;
    }
}

.periodic-room-panel-month-value {
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 16px;
}

.flat-color-scheme-dark {
    .periodic-room-panel-tips {
        background-color: var(--grey-9);
    }

    .periodic-room-panel-container {
        background-color: var(--grey-10);
    }

    .periodic-room-panel-table-line {
        border-bottom: solid 1px var(--grey-8);
    }
}
