.replay-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.replay-content {
    flex: 1;
    display: flex;
}

.replay-left {
    flex: 1;
    position: relative;
}

.replay-splitter {
    flex: 1;
}

.replay-time {
    font-family: monospace;
}

.replay-whiteboard,
.replay-share-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.replay-share-screen {
    z-index: 3;
}

.replay-bottom {
    padding: 8px;
    border-top: 1px solid var(--grey-3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    z-index: 900;
    background-color: var(--grey-0);
    opacity: 1;
    transition: opacity 1s;
}

.replay-bottom.is-playing {
    opacity: 0;
}

.replay-bottom:hover {
    opacity: 1;
    transition: opacity 0.1s;
}

.replay-playlist {
    display: flex;
    align-items: center;
    gap: 8px;
}

.replay-progress {
    position: absolute;
    left: 12px;
    top: -15px;
    width: calc(100% - 32px);
}

.replay-current-recording {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;

    .ant-spin-dot {
        font-size: 14px;
    }
    .anticon {
        color: var(--warning);
    }
}

.replay-video {
    width: 100%;
    height: 216px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
}

.replay-videos.is-horizontal {
    min-width: 100%;
    padding: 8px 4px;
    height: 130px;
    border-bottom: 1px solid var(--grey-0);
    overflow-x: overlay;
    text-align: center;
    white-space: nowrap;

    .replay-video {
        display: inline-block;
        flex-shrink: 0;
        width: max-content;
        height: 100%;
        border-radius: 6px;
        overflow: hidden;
        margin: 0 4px;
    }
}

.flat-color-scheme-dark {
    .replay-right,
    .replay-bottom {
        border-color: var(--grey-8);
    }
    .replay-playlist {
        .ant-tag {
            filter: invert(0.8325) hue-rotate(180deg);
        }
    }
    .replay-videos.is-horizontal {
        border-bottom: 1px solid var(--grey-8);
    }
    .replay-bottom {
        background-color: var(--grey-12);
    }
    .ant-slider {
        color: rgba(255, 255, 255, 0.85);
    }
    .ant-slider-rail {
        background-color: #262626;
    }
    .ant-slider-track {
        background-color: #153450;
    }
    .ant-slider-handle {
        background-color: #141414;
        border-color: #153450;
    }
    .ant-slider:hover .ant-slider-rail {
        background-color: #434343;
    }
    .ant-slider:hover .ant-slider-track {
        background-color: #16436e;
    }
    .ant-slider-handle.ant-tooltip-open {
        border-color: #177ddc;
    }
}
