.replay-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.replay-content {
    flex: 1;
    display: flex;
}

.replay-small-class-avatars {
    width: 100%;
    height: 130px;
    padding: 0 16px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;

    &::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
        background: transparent;
    }
}

.replay-small-class-avatars-video {
    width: 2512px;
    height: 108px;
}

.replay-big-class-video {
    width: 288px;
    height: 216px;
    position: relative;
    overflow: hidden;

    .vjs-modal-dialog-description {
        display: none;
    }

    .vjs-error-display::before {
        display: none;
    }
}

.replay-whiteboard-wrap {
    position: relative;
    flex: 1;
    height: 100%;

    .ant-dropdown-trigger.player-right-box {
        display: none; // hide playback speed
    }
}

.replay-whiteboard {
    width: 100%;
    height: 100%;
    background: #fff;
}

.replay-overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.replay-play-overlay:extend(.replay-overlay) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.replay-play-icon {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: background-color 0.4s;

    &:hover,
    &:focus,
    &:active {
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
    }
}

.replay-exit {
    position: absolute;
    z-index: 200;
    top: 21px;
    left: 18px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);

    .topbar-content-right-cell {
        margin: 0;
    }
}

.player-mid-box-time {
    color: var(--text);
    font-size: 12px;
    font-family: var(--font-family);
    font-variant-numeric: tabular-nums;
}

.flat-color-scheme-dark {
    .replay-whiteboard {
        background-color: var(--grey-10);
    }
    .replay-play-icon {
        background-color: var(--grey-12);
        border: 1px solid var(--grey-8);
    }
    .player-schedule {
        background-color: var(--grey-12);
        border: 1px solid var(--grey-8);
        box-shadow: none;
    }
    .ui-video-seek-slider .track .main {
        background-color: var(--grey-10);
    }
    .ui-video-seek-slider .track .main .connect,
    .ui-video-seek-slider .thumb .handler {
        background-color: var(--primary);
    }
}
