.login-title {
    text-align: center;
}

.login-title-text {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--text-stronger);
}

.login-title-subtext {
    margin-bottom: 48px;
    font-size: 14px;
    line-height: 24px;
    color: var(--text);
}
