.chat-typebox {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    padding: 0 6px 2px;
    border-top: 0.5px solid #dbe1ea;
}

.chat-typebox-icon {
    width: 22px;
    height: 22px;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    &:disabled {
        opacity: 0.2;
    }
}

.chat-typebox-input {
    flex: 1;
    margin: 0 5px;
    border: none;
    outline: none;

    &::placeholder {
        color: #dbe1ea;
    }
}

.chat-typebox-ban-input {
    flex: 1;
    text-align: center;
    color: #dbe1ea;
    user-select: none;
}

.chat-typebox-send {
    width: 22px;
    height: 22px;
    margin: 0 0 0 auto;
    padding: 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;

    &:disabled {
        opacity: 0.2;
        cursor: default;
    }
}
