.edit-room-page {
    height: 100%;
    overflow: auto;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.edit-room-page-header-container {
    position: fixed;
    width: 86%;
    z-index: 1;
    margin: 0 24px;
    padding: 16px 0;
    background-color: #fff;
}

.edit-room-page-header-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

.edit-room-page-body {
    width: 560px;
    margin: 0 auto;
    margin-top: 20px;
}

.flat-color-scheme-dark {
    .edit-room-page {
        box-shadow: 0px 1px 1px rgba(15, 18, 25, 0.15);
        background-color: var(--grey-10);
    }

    .edit-room-page-header-container {
        background-color: var(--grey-10);
    }
}
