@import "flat-components/theme/fancy-scrollbar.less";

.edit-room-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}

.edit-room-page-header-container {
    padding: 16px 24px;
}

.edit-room-page-header-title {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
}

.edit-room-page-body {
    .fancy-scrollbar-mixin();
    flex: 1;
    padding: 0 148px;
}

.flat-color-scheme-dark {
    .edit-room-page {
        box-shadow: 0px 1px 1px rgba(15, 18, 25, 0.15);
        background-color: var(--grey-10);
    }

    .edit-room-page-header-container {
        background-color: var(--grey-10);
    }
}
