.main-page-nav-container {
    width: 72px;
    height: 100%;
    background-color: var(--blue-10);

    &,
    & > * {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.main-page-nav-header {
    margin-top: 42px;
    margin-bottom: 24px;
}

.main-page-nav-content {
    & > a {
        color: #fff;
        padding-top: 16px;
    }
}

.main-page-nav-footer {
    margin-top: auto;
    margin-bottom: 16px;

    & > a {
        color: #fff;
    }
}

.flat-color-scheme-dark {
    .main-page-nav-container {
        background-color: var(--grey-10);
    }
}
