.user-setting-layout-container {
    height: 100%;
    padding: 24px;
    overflow: auto;
    border-radius: 0px 6px 6px 0px;
    background-color: #fff;
}

.flat-color-scheme-dark {
    .user-setting-layout-container {
        background-color: var(--grey-10);
    }
}
