@import "~antd/lib/style/themes/default.less";
@import "./colors.less";

@primary-color: @blue-6;
@error-color: @red-6;
@link-color: @blue-6;
@text-color: @grey-6;

@disabled-bg: @grey-1;
@btn-disable-border: @disabled-bg;
@btn-disable-color: @grey-6;
