@import "@netless/app-docs-viewer/dist/style.css";

.file-preview-netless-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.file-preview-netless-body {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.file-preview-netless-operate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.file-preview-netless-footer {
    height: 26px;
    overflow: hidden;
}
