.general-setting-container {
    min-width: 360px;
    > span {
        color: #7a7b7c;
    }
}

.general-setting-select-language {
    > span {
        display: block;
        padding-bottom: 3px;
    }
    .ant-radio-group {
        margin-left: 0;

        label {
            margin-right: 72px;
        }
    }
}

.general-setting-device-test-box {
    padding-top: 12px;
}

.general-setting-checkbox-title {
    padding-bottom: 3px;
}
