.record-button-container {
    display: flex;
    align-items: center;
    font-size: 14px;
    word-break: keep-all;
    white-space: nowrap;
    color: #3381ff;
    user-select: none;

    img {
        width: 22px;
        height: 22px;
    }
}

.recording-text-start {
    color: #5d5d5d;
}

.recording-text-stop {
    padding-right: 6px;
    color: #d21f00;
}

.recording-time-count {
    color: #d21f00;
}
