.about-page-container {
    min-width: 360px;
    height: 100%;
    position: relative;
}

.about-page-middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 30%;
    height: 100%;

    > img {
        padding-bottom: 12px;
    }

    .flat-name {
        color: var(--text-strong);
        font-size: 16px;
        font-weight: 500;
    }

    .flat-version {
        color: var(--text);
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 16px;
    }
}

.about-page-bottom-container {
    width: 31%;
    margin: 0 auto;
}
