.room-detail-panel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.room-detail-panel-body {
    padding: 16px;
}

.room-detail-panel-footer {
    text-align: right;
    padding: 0 16px;
}
