@import "../../../theme/variables";

.record-hint-tips {
    max-width: unset !important;
    z-index: calc(@zindex-modal - 1);

    .ant-tooltip-inner {
        border-radius: 5px;
    }
}

.record-hint-tips-close {
    margin-left: 0.5em;
    color: currentColor !important;
    opacity: 0.7;
}
