.network-status {
    font-size: 12px;
    color: var(--text);
}
.network-status-delay {
    margin: 0 8px;
}
.network-status-delay-ms {
    display: inline-block;
    min-width: 3.5em;
}
.network-status-signal {
    margin: 0 8px;
}
.network-status-signal img {
    margin-left: 3px;
    width: 10px;
    height: 18px;
}
