.flat-icon-fill {
    fill: var(--grey-6);
}

.flat-icon-stroke {
    stroke: var(--grey-6);
}

.flat-color-scheme-dark {
    .flat-icon-fill {
        fill: var(--grey-4);
    }

    .flat-icon-stroke {
        stroke: var(--grey-4);
    }
}
