.speaker-test-text {
    color: #7a7b7c;
    padding-bottom: 8px;
}

.speaker-test-output-box {
    padding: 16px 0;

    .ant-btn {
        width: 100%;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 12px;
        padding-right: 4px;
        height: 36px;

        > span {
            flex: 1;
            text-align: left;
        }
    }
}
