.home-page-hero-buttons {
    display: flex;
    align-items: center;
}

.home-page-hero-button {
    height: 72px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    border-color: white;
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }

    .icon {
        display: inline-block;
        width: 44px;
        height: 44px;
        &.join {
            background-image: url(../../assets/buttons/join.svg);
        }
        &.create {
            background-image: url(../../assets/buttons/create.svg);
        }
        &.schedule {
            background-image: url(../../assets/buttons/schedule.svg);
        }
        @media screen and (max-width: 660px) {
            width: 24px;
            height: 24px;
            &.join {
                background-image: url(../../assets/buttons/join-small.svg);
            }
            &.create {
                background-image: url(../../assets/buttons/create-small.svg);
            }
            &.schedule {
                background-image: url(../../assets/buttons/schedule-small.svg);
            }
        }
    }

    .text {
        font-size: 16px;
        font-weight: 400;
        color: #444e60;
        padding-left: 14px;
        padding-right: 25px;

        &.short {
            display: none;
        }

        @media screen and (max-width: 660px) {
            font-size: 14px;
            padding-left: 6px;
            padding-right: 8px;

            &.long {
                display: none;
            }
            &.short {
                display: inline;
            }
        }
    }

    @media screen and (max-width: 660px) {
        flex: 1;
        height: 44px !important;
        border-radius: 9999px;
        margin-right: 8px;
    }
}
