.main-horizontal-layout-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-horizontal-layout-content-container {
    flex: 1;
    display: flex;
    width: 960px;
    margin: 0 auto;
    padding: 16px 0;
    border-radius: 6px;
    background-color: #f6f6f6;
}

.main-horizontal-layout-content {
    flex: 1;
}

.flat-color-scheme-dark {
    .main-horizontal-layout-content-container {
        background-color: var(--grey-12);
    }
}
