.main-horizontal-layout-container {
    height: 100vh;
}

.main-horizontal-layout-outside-wrapper {
    display: flex;
    width: 100%;
    background-color: #f3f6f9;
}

.main-horizontal-layout-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 8px 8px 0px 0px;
    background-color: #fff;
}

.main-horizontal-layout-container-content {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: #f3f6f9;
}
