name: Spell Check
on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  check-spell:
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: "15.10.0"

      - name: Install cspell
        run:  yarn global add cspell

      - name: Check cspell
        run: yarn run check-spelling
