.invite-modal {
    .ant-modal-content {
        border-radius: 8px;
    }

    .ant-modal-footer {
        button {
            border-radius: 4px;
        }
    }
}

.invite-modal-header {
    margin-top: -5px;
    width: 100%;
}

.invite-modal-content {
    margin-top: 23px;
}

.invite-modal-content-item {
    display: flex;

    span {
        display: inline-block;

        &:first-of-type {
            flex: 1;
            min-width: 25%;
            color: #7a7b7c;
        }

        &:last-of-type {
            flex: auto;
            text-align: right;
        }
    }

    &:not(:last-of-type) {
        margin-bottom: 8px;
    }
}

.invite-modal-content-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}
