.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1002;
}

.loading-page-mask {
    width: 100%;
    height: 50px;
    pointer-events: none;
    background-color: #fff;

    &.is-transparent {
        background-color: transparent;
    }
}

.loading-page-content {
    width: 100%;
    padding-bottom: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #7a7b7c;
    background-color: white;
}

.loading-page-image {
    width: 200px;
    height: 200px;
}

.loading-page-return-btn {
    position: absolute;
    bottom: 64px;
    opacity: 0;
    transition: opacity 0.4s;
    pointer-events: auto;

    &.is-show {
        opacity: 1;
    }
}
