.app-upgrade-modal-container {
    .ant-modal-content {
        .ant-modal-header {
            border-bottom: none;
        }

        .ant-modal-footer {
            border-top: none;
            padding: 0;
        }
    }
}

.app-upgrade-modal-title {
    color: var(--blue-12);
}

.app-upgrade-modal-font {
    color: var(--text);
}

.app-upgrade-modal-progress {
    height: 5px;
    border-radius: 3px;
    background: var(--grey-1);
}

.app-upgrade-active-progress {
    position: relative;
    height: 5px;
    top: -5px;
    border-radius: 3px;
    background: var(--primary);
}

.app-upgrade-modal-btn {
    text-align: right;
    margin-top: 30px;
}

.flat-color-scheme-dark {
    .app-upgrade-modal-title {
        color: var(--grey-0);
    }

    .app-upgrade-modal-progress {
        background: var(--grey-8);
    }
}
